<div id="<%= dom_id transact %>">
  <p>
    <strong>Name:</strong>
    <%= transact.name %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= transact.amount %>
  </p>

  <p>
    <strong>Categories:</strong>
    <%= transact.category.name %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= transact.category_id %>
  </p>
</div>
