<p style="color: green"><%= notice %></p>

<%= render @transact %>

<div>
  <%= link_to "Edit this transact", edit_transact_path(@transact) %> |
  <%= link_to "Back to transacts", transacts_path %>

  <%= button_to "Destroy this transact", @transact, method: :delete %>
</div>
