<div class='category'>
    <% if can? :read, category%>
        <%= link_to category_transacts_path(category.id), class: "cat-link" do%>
            <div class='cat-item'>
                <div class='cat-image'>
                    <%= image_tag category.icon %>
                </div>
                <span><%= current_user.name %></span>
                <span><%= category.name %></span>
                Total: $<%= category.transact.map {|ct| ct.amount}.sum %>
            </div>
        <%end%>
    <%end%>
</div>